# Data Science Tools and Ecosystem

## Author
Ritesh Poddar

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages used for data science
* List commonly used libraries used by data scientists
* List commonly used open source data science tools
* Example of a simple arithmetic example with multiplication, addition and division
* Examples of using headings in a python markdown cell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Tensorflow
3. Numpy
4. dplyr
5. stringr

|Data Science Tools|
|------------------|
|Jupyter|
|R Studio|
|VS Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335